<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<!--    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">-->

<!--    &lt;!&ndash; Bootstrap CSS &ndash;&gt;-->
<!--    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"-->
<!--          integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn"-->
<!--          crossorigin="anonymous">-->
</head>
<body>
<div th:insert="~{/header.html}"></div>
<div class="card-deck">
    <ul th:each="c, n : ${courses}">

        <div class="card" style="width: 18rem;">
            <img class="card-img-top" th:src="${files[n.index].path}">
            <div class="card-body">
                <h5 class="card-title" th:text="${c.price}"></h5>
                <p class="card-text" th:text="${c.name}"></p>
                <!--                <h5 class="card-title" th:text="${c.price}"></h5>-->
                <!--                <p class="card-text" th:text="${c.type}"></p>-->
                <p class="card-text" th:text="${users[n.index].username}"></p>
                <!--            <img th:src="${images[n.index].path}" width="25%">-->
                <a th:href="@{/course(id=${c.id})}" class="btn btn-primary">Обучение</a>
            </div>
        </div>
    </ul>
</div>
</body>
</html>